*, *::before, *::after {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 0;
  background-color: #F6F6F6;
}

.header, .footer {
  background-color: #454444;
  color: #fff
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #28A922;
}

.telephone_text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.54px;
  text-align: left;
}

.address_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.63px;
  text-align: left;
}

.container-fluid{
  padding: 0;
}

.navbar {
  background-color: #28A922;
}

.nav-link {
  color: #fff
}

.modal__btn{
  background-color: #FFCC00;
  border: none;
}

.modal__btn:hover {
  background-color: #454444;
}

.modal__btn:active {
  background-color: #454444;
}

.modal__link {
  text-align: center;
  margin: 6px 0;
}

.modal-content {
  color: #FFF;
  background-color: #454444;
}

.header__nav-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  text-align: left;
}


.img_benefit {
  width: 70px;
  height: 70px;
  transform: translateY(-25%);
}

.card-title {
  padding: 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.63px;
}

.card {
  border: none;
}

.card:hover {
  box-shadow: 0px 2px 10px 0px #28A922;
  transition: all .1s linear;
}

.data-form__wrapper {
  background-color: #FFF;
  border: #454444 1px solid;
  border-radius: 8px;
}

@media(min-width: 768px) {
  .data-form__wrapper {
    transform: translateY(-10%);
  }
}

.item {
  border-radius: 8px;
  opacity: 60%;
  background-color: #FFF;
  color: #272727;
  ;
}

.about-us-2__wrapper {
  background-image: url("/img/Бэкнювс.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-link, .contacts-link_sm {
  max-width: 806px;
  height: 99%;
  padding: 39px 20px;
  background-color: #434142;
  color: #272727 !important;
}

@media (max-width: 992px) {
  .contacts-link {
    left: 25%
  }
}

.contacts__card-title {
font-family: "Montserrat";
font-size: 40px;
font-weight: 700;
line-height: 49.07px;
text-align: left;
color: #FFF;
}

.contacts__card-cont {
  font-family: "Montserrat";
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
color: #FFF;
}

.contacts__card-link {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: left;

}

.footer__list {
  -moz-column-width: 50%;
  column-width: 50%;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 10%;
  column-gap: 10%;
  padding: 0;
  list-style-type: none;
}

.footer__cont-link {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: left;
}

input[type=date] {
  border:#28A922  2px solid;
}

.btn__form {
  background-color: #28A922;
  color: #FFF;

}

.header::before {
  content: "";
  background-image: url(/img/listok1.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  right: 0;

  width: 175px;
  height: 150px;
}


.intro::after {
  content: "";
  background-image: url(/img/listok2.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  left: -5%;

  width: 260px;
  height: 205px;

  rotate: 50deg;
}

.about-us::before {
  content: "";
  background-image: url(/img/listok3.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  right: 12.5%;
  

  width: 175px;
  height: 150px;
}

.about-us::after {
  content: "";
  background-image: url(/img/listok4.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  left: 2%;

  transform: translateY(-800px);

  width: 175px;
  height: 150px;
}

.news::before {
  content: "";
  background-image: url(/img/listok5.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  right: 3%;

  transform: translateY(-252px);

  width: 258px;
  height: 205px;
}

.contacts::after {
  content: "";
  background-image: url(/img/listok6.png);
  background-size: cover;
  background-repeat: no-repeat;

  transform: translateY(-200px);

  position: absolute;
  left: 0%;

  width: 302px;
  height: 267px;
}

@media (max-width: 1600px) {
  .header::before, .news::before{
    display: none;
  }
}

@media (max-width: 1250px) {
  .about-us::after, .intro::after{
    display: none;
  }
}

@media (max-width: 650px) {
  .contacts::after, .about-us::before{
    display: none;
  }
}

.contacts-link {
  top: 49%;
  left:17%;
  transform: translate(-50%, -50%);
}